h1 {
  color: #f5fcff;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  background-color: #fcba03;
}

body {
  text-align: center;
  background-color: #039dfc
}
