html, body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #f5fcff;
  text-shadow: 3px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  text-align: center;
  background-image: linear-gradient(#fccf51, #fcba03, #ebad00);
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(#69a2ff, #4088ff, #1859c4);
}

.button {
  border: none;
  border-radius: 20%;
  background: #8eaaad;
}
